body {
    font-family: 'Heebo', sans-serif !important;
}

/* comon css */
.bg-default {
    background-color: #1d3e7c;
}
.text-default {
    color: #1d3e7c;
}
.border-transparent {
    border-color: transparent !important;
}
.text-size-default {
    font-size: 40px;
}
.text-large {
    font-size: 70px;
}
.text-small {
    font-size: 30px;
}

.btn-default {
    padding: 18px 67px;
    background-color: transparent;
    border-radius: 53px;
    outline: none;
    border: transparent;
    font-size: 32px;
    font-weight: bold;
}
.btn-default-blue {
    background-color: #1d3e7c;
    border: 3px solid #1d3e7c;
}
.btn-outlined {
    border: 3px solid;
}
.btn-bg-white {
    border: 3px solid transparent;
    background-color: rgba(255, 255, 255, 0.572);
}
.btn-default-blue:hover {
    background-color: white;
    color: #1d3e7c !important;
    border: 3px solid white !important;
}
.btn-outlined:hover{
    border: 3px solid #1d3e7c !important;
    color: white;
    background-color: #1d3e7c;
}
.btn-bg-white:hover {
    border: 3px solid #1d3e7c;
    color: white;
    background-color: #1d3e7c;
}

.form-input {
    padding: 20px 30px;
    border-radius: 53px;
    border: 2px solid;
    background-color: transparent;
}
.form-input:focus {
    outline: none;
}
::placeholder {
    color: #1d3e7c;
    font-size: 30px;
}
select.form-input {
    padding: 12px 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select:required:invalid {
    color: #1d3e7c;
    font-size: 30px;
    line-height: 1.5;
}
select option[value=""][disabled] {
    display: none;
}

/* capsual shape checkbox button */
.capsual-button {
    position: relative;
    border: 2px solid #1d3e7c;
    width: 80px;
    height: 40px;
    background-color: transparent;
    border-radius: 53px;
    overflow: hidden;
    cursor: pointer;
}
.capsual-button .checked-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.capsual-button input {
    width: 100%;
    height: 100%;
    display: none;
}
.capsual-button input:checked + .checked-bg {
    background-color: #1d3e7c;
    color: white;
}

/* heart icon checkbox */
.heart-icon {
    bottom: 95px;
    right: 20px;
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.heart-icon img {
    border-radius: unset !important;
}
.heart-icon .hovered, .heart-icon .default {
    border: 2px solid #1d3e7cc9;
    width: 35px;
    height: 35px;
    padding: 8px 6px 6px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.heart-icon .hovered {
    display: none;
}
.heart-icon input:checked ~ .hovered {
    border-color: #DD1959;
    background-color: #DD1959;
    display: block !important;
}
.heart-icon input:checked ~ .default {
    display: none !important;
}
.heart-icon img.hovered {
    display: none;
}
.heart-icon input {
    width: 100%;
    height: 100%;
    display: none;
}

/* footer section */
.footer-content {
    position: absolute;
    bottom: 60px;
    display: block;
    width: 98% !important;
}
.footer-content .row {
    width: 87%;
    margin: 0 auto !important;
}
.footer-content img {
    width: 285px;
}

/* container side spacing */
.side-spacing {
    width: 87%;
    padding: 80px 0 0 !important;
}

/* sign in page */
.bg-image-container {
    position: relative;
    mix-blend-mode: multiply;
    background-size: cover;
    opacity: 1;
    width: 100%;
    height: 100vh;
}
.bg-image-container.first {
    background: transparent url('../../public/images/image-2.png') 0% 0% no-repeat;
    background-size: cover;
}
.signin-form {
    background: transparent linear-gradient(186deg, #1d3e7ca9 0%, #1d3e7c9a 20%, #0f1f3e75 100%) 0% 0% no-repeat padding-box;
    border-radius: 49px 0px 0px 49px;
    padding: 69px 119px 68px 47px;
}
.signin-form .bg-default {
    border-radius: 49px;
    padding: 40px 60px !important;
}
.signin-form h2 {
    font: normal normal medium 68px/69px Heebo;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.signin-form ::placeholder {
    color: white;
    font-size: 30px;
}

/* page 2 css */
.bg-image-container.two {
    background: transparent url('../../public/images/baby-2.png') no-repeat padding-box;
    background-position: center left;
    background-size: cover;
}
.bg-image-container.three {
    background: transparent url('../../public/images/baby-3.png') 0% 0% no-repeat padding-box;
    background-position: center left;
    background-size: cover;
}
.bg-image-container.four {
    background: transparent url('../../public/images/bg-orange.png') 10% 100% no-repeat padding-box;
    background-size: cover;
}
.bg-image-container.five {
    background: transparent linear-gradient(180deg, #F6F6F5 0%, #F3F5F5 40%, #C9D9D5 100%) 0% 0% no-repeat padding-box;
    background-size: auto;
}
.bg-image-container.six {
    height: auto;
    background: transparent url('../../public/images/bg-cyan.png') 10% 100% no-repeat padding-box;
    background-size: cover;
}
.bg-image-container.eight {
    background: transparent url('../../public/images/bg-cyan.png') 10% 100% no-repeat padding-box;
    background-size: cover;
}
.bg-image-container.nine {
    background: transparent url('../../public/images/bg-blur.png') 10% 100% no-repeat padding-box;
    background-size: cover;
}
.bg-image-container.ten {
    background: transparent url('../../public/images/bg-orange.png') 10% 100% no-repeat padding-box;
    background-size: cover;
}
.search-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
}
.half-border-icon {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.half-border-icon.rotate-up {
    bottom: 49%;
    transform: rotateX(180deg);
    transition: all 0.6s ease;
}
/* .babies-background {
    width: auto !important;
    height: 550px;
    margin: -120px 0 0 -40px;
} */
.babies-background {
    width: 100% !important;
    margin: -120px 0 0;
}

/* page 5 css */
.donor-list {
    position: relative;
    margin: 0px 15px 20px;
    overflow: hidden;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 11px #0000003E;
    border-radius: 53px;
    opacity: 1;
}
.donor-list .tag, .donor-information .tag {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1d3e7cb4;
    border-radius: 0 0 0 37px;
    padding: 12px 50px;
    color: white;
    font-size: 20px;
}
.donor-list .donor-details {
    width: 100%;
    height: 80px;
}
.donor-list .donor-details div {
    padding: 30px 25px 10px;
    color: #1d3e7c;
    font-weight: 700;
}
.donor-list .donor-details div:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.add-border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.footer-content .position-absolute {
    border-radius: 0 50px 50px 0;
    padding: 20px 30px 20px 80px;
    background-color: white;
    left: -106px;
    cursor: pointer;
}
.footer-content .position-absolute img {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    border-radius: 50%;
}
.footer-content .position-absolute span {
    color: #1d3e7c;
    font-size: 30px;
    font-weight: 700;
}

/* donor information - page 6 */
.donor-information .heart-icon{
    right: 320px;
    top: 135px;
}
.donor-information {
    width: 300px;
    position: relative;
    background: #d2d2d2 0% 0% no-repeat padding-box;
    border-radius: 53px;
}
.donor-information .tag {
    border-radius: 0 37px 0;
}
.donor-information img {
    border-radius: 37px;
}
.bg-image-footer {
    height: 600px;
    background: transparent url('../../public/images/image-1.png') 40% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    background-size: contain;
}

.choosen-doner {
    border-radius: 53px;
    border: 2px solid #1d3e7c;
}
.bg-image-blur {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(30px);
    z-index: -1;
}

/* page 9 css */
.bg-image-container.nine .signin-form {
    border-radius: 53px;
    padding: 40px 50px;
}
.bg-image-container.nine .signin-form .bg-default {
    border-radius: 50px;
    padding: 40px 60px 70px !important;
}

/* page 10 css */
.bg-image-container.ten .half-border-icon {
    top: 0;
    bottom: 0;
    pointer-events: none;
}
.bg-image-container.ten .bg-image-blur {
    height: 500px;
    opacity: 0.1;
    top: unset;
    bottom: 15%;
    left: 10%;
    width: 80%;
    background: url('../../public/images/babies.png') 40% 0% no-repeat padding-box;
    background-size: contain;
}
.multiple-options {
    border-radius: 53px;
    opacity: 1 !important;
    height: 350px;
    overflow-y: auto;
}
.multiple-options::-webkit-scrollbar {
    width: 25px;
    background: #ebeaea;
    border-radius: 50px;
}
.multiple-options::-webkit-scrollbar-thumb {
    border: 5px solid #ebeaea;
    border-radius: 50px;
    background: #fff;
}
.multiple-options .capsual-button {
    width: 120px;
    height: 40px;
}
.multiple-options .d-flex {
    gap: 15px;
    flex: 1;
    flex-wrap: wrap;
}
.vertical-scroller {
    height: 400px;
    overflow-y: auto;
}
.vertical-scroller::-webkit-scrollbar {
    width: 0;
}

/* page 11 css */
.bordered-div {
    padding: 10px 10px 10px 30px;
    border: 2px solid rgba(0, 0, 0, 0.05);
}
.bordered-div button {
    font-size: 25px;
    border: 2px solid #1d3e7c;
    color: #fff;
    background-color: #1d3e7c !important;
    border-radius: 28px;
    padding: 15px 35px;
}
.bordered-div button:hover {
    color: #1d3e7c;
    background-color: transparent !important;
}

.visible-options {
    height: 200px;
}

.bg-image-container.five .capsual-button {
    width: 130px;
    height: 40px;
    color: #1d3e7c;
    background-color: white;
    border-color: white;
}
