@media (max-width: 1600px) {
    .signin-form {
        padding: 39px 66px 38px 27px;
    }
    .signin-form.mt-5 {
        margin-top: 0 !important;
    }
    .signin-form .bg-default {
        padding: 20px 30px !important;
    }
    .donor-list {
        margin: 0 0 20px;
        border-radius: 33px;
    }
    .donor-list .tag, .donor-information .tag {
        padding: 7px 36px;
        font-size: 16px;
    }
    .choosen-doner.py-3.px-5 {
        padding: 0 !important;
    }
    .bg-image-container.eight .side-spacing .btn-default {
        padding: 10px !important;
        margin-top: 20px;
    }
    .bg-image-container.nine .signin-form {
        padding: 20px 25px;
    }
    .bg-image-container.nine .signin-form .bg-default {
        padding: 20px 30px 35px !important;
    }
}
@media (max-width: 1199px) {
    .width-50 {
        width: 100%;
    }
    .bg-image-footer {
        height: 330px;
    }
    .bg-image-container.eight .side-spacing {
        flex-direction: column-reverse;
    }
}
@media (max-width: 991px) {
    .btn-default {
        padding: 10px 45px;
        font-size: 26px;
    }
    .text-size-default {
        font-size: 35px;
    }
    .text-large {
        font-size: 60px;
    }
    .text-small {
        font-size: 25px;
    }
    .form-input {
        padding: 16px 25px;
    }
    ::placeholder {
        font-size: 26px !important;
    }
    select:required:invalid {
        font-size: 26px !important;
        line-height: 1.2;
    }
    .signin-form {
        border-radius: 49px !important;
        padding: 39px 40px;
    }
    .footer-content img {
        width: 200px;
    }
    .search-icon {
        top: 17px;
        left: 17px;
        width: 25px;
        height: 25px;
    }
    .bg-image-container.two {
        background: linear-gradient(90deg, #8ab7ffa9 0%, #bed3ff9a 20%, #ffffff75 100%), url('../../public/images/baby-2.png') no-repeat padding-box !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        min-height: 100vh;
        height: auto;
    }
    .bg-image-container.three {
        background: linear-gradient(90deg, #8ab7ffa9 0%, #bed3ff9a 20%, #ffffff75 100%), url('../../public/images/baby-3.png') no-repeat padding-box !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        min-height: 100vh;
        height: auto;
    }
    .bg-image-container.four, .bg-image-container.five, .bg-image-container.eight, .bg-image-container.ten {
        height: unset;
        min-height: 100vh;
    }
    .bg-image-container.six .row.side-spacing {
        flex-direction: column-reverse !important;
    }
    .bg-image-container.six .footer-content .row {
        flex-direction: column-reverse !important;
        align-items: center;
    }
    .bg-image-container.six .col-md-4, .bg-image-container.six .col-md-8 {
        text-align: center !important;
    }
    .bg-image-container.six .col-md-8 button {
        float: none !important;
        margin-bottom: 30px;
    }
    .bg-image-container.six .footer-content {
        position: relative;
    }
}
@media (max-width: 575px) {
    .btn-default {
        padding: 5px 30px;
        font-size: 18px;
    }
    .text-size-default {
        font-size: 24px;
    }
    .text-large {
        font-size: 35px;
    }
    .text-small {
        font-size: 16px;
    }
    .form-input {
        padding: 10px 17px;
    }
    ::placeholder {
        font-size: 16px !important;
    }
    select:required:invalid {
        font-size: 16px !important;
    }
    .footer-content, .bg-image-container.six .footer-content {
        position: unset !important;
        margin-top: 30px !important;
    }
    .footer-content .row {
        flex-direction: column-reverse !important;
    }
    .footer-content .col-sm-6 {
        text-align: center !important;
    }
    .footer-content .col-sm-6 button {
        float: none !important;
        margin-bottom: 30px;
    }
    .side-spacing {
        width: 100%;
        padding: 30px 0 0 !important;
    }
    .footer-content {
        width: 100% !important;
    }
    .footer-content .row {
        width: 100%;
    }
    .search-icon {
        top: 14px;
        left: 14px;
        width: 20px;
        height: 20px;
    }
    .bg-image-container.two, .bg-image-container.three {
        text-align:  center !important;
    }
    .bg-image-container.two .d-flex {
        justify-content: center;
    }
    .signin-form {
        padding: 0;
    }
    .donor-list {
        border-radius: 53px;
    }
    .vertical-scroller {
        height: unset;
    }
    .footer-content .position-absolute {
        position: relative !important;
        padding: 10px 0px !important;
        width: 50%;
        margin: 0 auto 30px;
        border-radius: 53px;
    }
    .footer-content .position-absolute span {
        font-size: 20px !important;
    }
    .footer-content .position-absolute img {
        width: 23px;
        height: 23px;
        margin-top: -4px;
    }
    .bg-image-footer {
        height: 200px;
        background-size: cover;
    }
    .donor-information .heart-icon {
        top: unset;
        bottom: 20px;
        right: 20px;
    }
    .bg-image-container.first .container-fluid, .bg-image-container.four .container-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
}
@media (max-width: 480px) {
    .signin-form .bg-default {
        border-radius: 25px !important;
    }
    .signin-form .bg-default .form {
        margin-top: 10px !important;
    }
    .footer-content img {
        width: 150px;
    }
}
@media (max-width: 340px) {
    .bg-image-container {
        height: unset;
        min-height: 100vh;
    }
    .bg-image-container.first .container-fluid {
        padding-top: 10px !important;
    }
    .signin-form.mt-5 {
        margin-top: 0 !important;
    }
    .donor-information {
        width: unset;
    }
}
